#include <windows.h>

#define IDD_ABOUT 101
#define IDC_WEBSITE 108
#define IDC_COFFEE 109

IDI_PLAY ICON "play.ico"

IDD_ABOUT DIALOGEX 0, 0, 200, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About TrayMp3"
FONT 8, "Segoe UI", 400, 0
BEGIN
    LTEXT           "TrayMp3 v1.0.2", -1, 20, 15, 160, 10
    LTEXT           "A simple MP3 player for Windows", -1, 20, 30, 160, 10
    LTEXT           "Created By Ferenc Lutischan", -1, 20, 45, 160, 10
    LTEXT           "Visit website", IDC_WEBSITE, 20, 60, 160, 10, SS_NOTIFY
    LTEXT           "Support us with a coffee", IDC_COFFEE, 20, 75, 160, 10, SS_NOTIFY
    DEFPUSHBUTTON   "OK", IDOK, 75, 100, 50, 14
END